.my-phrases-div{
	color: white;
	text-align: center;
	list-style-type: none;
}

 body {
 	background-color: black;
 	color: white;
 }

 #prompt {
 	color: black;
 	background-color: gray;
 	width: 600px;
 	height: 30px;
 }

.prompt-box-div {
	width: 800px;
	margin: 100px auto;
}

